aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attr
attrs
certifi
charset-normalizer
distro
frozenlist
h11
httpcore
httpx
idna
jiter
multidict
openai
propcache
pydantic
pydantic-core
pyTelegramBotAPI
python-telegram-bot
requests
sniffio
telebot
telegram-text
tqdm
typing-inspection
typing-extensions
urllib3
yarl
